.certificates{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}
h1{
        color: #00bfff;
        text-shadow: 2px 2px 8px rgba(0,191,255,0.8);
    }
.card{
    background: rgba(10,25,47,0.8);
    border: 1px solid #00bfff;
    padding: 20px;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0,191,255,0.8);
}
img{
    width: 300px;
    padding: 20px;
    text-align: center;
    flex: 1;
    margin: 0 10px;
}