.Contact{
    display: flex;
    gap: 10px;
    font-family: "Sigmar",serif;
    h1{
        color: #00bfff;
        text-shadow: 2px 2px 8px rgba(0,191,255,0.8);
    }
    ul{
        list-style-type: none;
    }
    a{
        text-decoration: none;
        color: inherit;
        margin: 10px;
    }
    .contact-us{
        flex: 1fr;
        margin-left: 120px;
        width: 300px;
        height: 80%;
        padding: 20px;
    }
    .content{
        width: 600px;
    }
    .inner{
        width: 20px;
        
    }
    a{
            color: #ffff;
            text-shadow: 2px 2px 8px rgba(0,191,255,0.8);
        }
}