.Contact{
    display: flex;
    gap: 10px;
    font-family: "Sigmar",serif;
    h1{
        color: #ffff;
        text-shadow: 2px 2px 8px rgba(0,191,255,0.8);
    }
    ul{
        list-style-type: none;
    }
    .img{
        width: 200px;
    }
    .content{
        width: 600px;
        animation: slide-right 2s forwards .5s;
        opacity: 0;
        .inner{
            width: 100px;
            display: flex;
            gap: 0px;
            img{
                width: 25px;
                border-radius: 20%;
            }
            a{
                width: 100px;
                text-decoration: none;
                color: inherit;
                margin: 20px 0px 0px 0px;
                color: #ffff;
                text-shadow: 2px 2px 8px rgba(0,191,255,0.8);
            }
        }
         
    }
    
   
    
}